* {
  margin: 0;
  padding: 0;
}
body {
  background-color: $blue-100;

  background-image: url("/assets/images/bg-sidebar-mobile.svg");
  background-repeat: no-repeat;
  background-size: contain;
  @media (min-width: 992px) {
    background-image: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: inherit;
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-transition {
  transition: none !important;
  animation: none !important;
}

.d-stack {
  display: flex;
  flex-direction: column;
}

.hover-jump {
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: none;
    box-shadow: none;
  }
}

.text-muted {
  opacity: 0.75;
}

.option {
  cursor: pointer;
  transition: all 0.1s;
  &:hover {
    border-color: $purple-600;
  }
  &.active {
    border-color: $purple-600;
    background-color: $blue-50;
  }
  &:active {
    transform: translateY(4px);
  }
}
