* {
  margin: 0;
  padding: 0;
}

body {
  background-image: linear-gradient($bg-start, $bg-end);
  background-repeat: no-repeat;

  color: var(--bs-light);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

p {
  white-space: pre-line;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  padding-left: 16px;
  padding-right: 16px;
  @media (min-width: 1200px) {
    max-width: 1140px;
  }
}

.cursor-pointer {
  cursor: pointer !important;
}

.no-transition {
  transition: none !important;
  animation: none !important;
}

.d-stack {
  display: flex;
  flex-direction: column;
}

.hover-jump {
  transition-property: transform, box-shadow;
  transition-duration: 0.3s;
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  &:active {
    transform: none;
    box-shadow: none;
  }
}
.hover-glow {
  transition: all 0.2s;
  &:hover {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3),
      0 0 20px rgba(255, 255, 255, 0.2), 0 0 30px rgba(255, 255, 255, 0.15);
  }
  &:active {
    box-shadow: none;
    filter: brightness(0.8);
  }
}

.btn {
  transition: all 0.1s;
  border-radius: 8px;
  padding: 8px 24px;
  font-weight: 600;

  &-light {
    color: $text-dark;
  }

  &:active {
    transform: scale(0.95);
  }
}

.text-muted {
  opacity: 0.75;
}

.bg-choice {
  &-rock {
    background-image: linear-gradient($rock-start, $rock-end);
  }
  &-paper {
    background-image: linear-gradient($paper-start, $paper-end);
  }
  &-scissors {
    background-image: linear-gradient($scissors-start, $scissors-end);
  }
  &-lizard {
    background-image: linear-gradient($lizard-start, $lizard-end);
  }
  &-spock {
    background-image: linear-gradient($spock-start, $spock-end);
  }
}

.top-auto {
  top: auto !important;
}
.start-auto {
  left: auto !important;
}
